<%= form_for(@model, html: {class: 'form-horizontal', role: 'form', multipart: true}) do |f| %>
    <% if @model.errors.any? %>
        <div id="error_explanation" class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model
            from being saved:</h2>
          <ul>
            <% @model.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :brand_id, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.select :brand_id, Brand.all.map { |a| [a.name, a.id] }, {}, {class: 'form-control'} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :name, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :photo, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= image_tag(@model.photo_url) if @model.photo? %>
        <%= f.file_field :photo %>
        <%= f.hidden_field :photo_cache, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= button_tag(type: 'submit', class: "btn btn-success") { "<i class='glyphicon glyphicon-floppy-disk'></i>".html_safe } %>
      </div>
    </div>

<% end %>