<div class="page-header">
  <h1>Listing models</h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Brand</th>
    <th>Name</th>
    <th>Photo</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @models.each do |model| %>
      <tr>
        <td><%= model.brand.name %></td>
        <td><%= model.name %></td>
        <td><%= image_tag (model.photo_url(:small_thumb).to_s) if model.photo? %>
        </td>
        <td>
          <div class="button-group">
            <%= link_to "<i class='glyphicon glyphicon-search'></i>".html_safe, model %>
            <%= link_to "<i class='glyphicon glyphicon-edit'></i>".html_safe, edit_model_path(model) %>
            <%= link_to "<i class='glyphicon glyphicon-trash red'></i>".html_safe, model, method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<hr/>

<fieldset><%= link_to "<i class='glyphicon glyphicon-plus'></i>".html_safe, new_model_path, class: 'btn btn-success' %>
</fieldset>
