<div class="page-header">
  <h1>Viewing model</h1>
</div>

<p id="notice"></p>

    <p>
      <strong>Brand:</strong>
      <%= @model.brand.name %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @model.name %>
    </p>

    <p>
      <strong>Photo:</strong>
      <%= image_tag(@model.photo) %>
    </p>


<fieldset>
  <div class="btn-group">
    <%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, models_path, class: 'btn btn-default' %>
    <%= link_to "<i class='glyphicon glyphicon-edit'></i>".html_safe, edit_model_path(@model), class: 'btn btn-default' %>
    <%= link_to "<i class='glyphicon glyphicon-plus'></i>".html_safe, new_model_path, class: 'btn btn-success' %>
  </div>
</fieldset>
