<%= form_for(@description, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
    <% if @description.errors.any? %>
        <div id="error_explanation" class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h2><%= pluralize(@description.errors.count, "error") %> prohibited this description
            from being saved:</h2>
          <ul>
            <% @description.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :brand_id, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.select :brand_id, Brand.all.map { |a| [a.name, a.id] }, {}, {class: 'form-control'} %>
          </div>
    </div>
    <div class="form-group">
      <%= f.label :model_id, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.select :model_id, Model.all.map { |a| [a.name, a.id] }, {}, {class: 'form-control'} %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_area :description, class: 'form-control', id: "edit" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :processed, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.check_box :processed, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= button_tag(type: 'submit', class: "btn btn-success") { "<i class='glyphicon glyphicon-floppy-disk'></i>".html_safe } %>
      </div>
    </div>

<% end %>