<div class="page-header">
<h1>Editing description</h1>
</div>

<%= render 'form' %>

<hr />

<fieldset>
  <div class="btn-group">
    <%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, descriptions_path, class: 'btn btn-default' %>
    <%= link_to "<i class='glyphicon glyphicon-search'></i>".html_safe, @description, class: 'btn btn-default' %>
  </div>
</fieldset>