<div class="page-header">
  <h1>Listing descriptions</h1>
</div>

<div class="bs-prods">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#unprocessed">Unprocessed</a></li>
    <li><a data-toggle="tab" href="#roccessed">Processed</a></li>
  </ul>
  <div class="tab-content">
    <div id="unprocessed" class="tab-pane fade in active">
      <h3>Unprocessed</h3>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @unprocessed.each do |description| %>
            <tr>
              <td><%= description.brand.name %></td>
              <td><%= description.model.name %></td>
              <td><%= description.description.html_safe %></td>
              <td>
                <div class="button-group">
                  <%= link_to "<i class='glyphicon glyphicon-search'></i>".html_safe, description %>
                  <%= link_to "<i class='glyphicon glyphicon-edit'></i>".html_safe, edit_description_path(description) %>
                  <%= link_to "<i class='glyphicon glyphicon-trash red'></i>".html_safe, description, method: :delete, data: {confirm: 'Are you sure?'} %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>


    </div>
    <div id="roccessed" class="tab-pane fade">
      <h3>Processed</h3>


      <table class="table table-striped">
        <thead>
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @processed.each do |description| %>
            <tr>
              <td><%= description.brand.name %></td>
              <td><%= description.model.name %></td>
              <td><%= description.description.html_safe %></td>
              <td>
                <div class="button-group">
                  <%= link_to "<i class='glyphicon glyphicon-search'></i>".html_safe, description %>
                  <%= link_to "<i class='glyphicon glyphicon-edit'></i>".html_safe, edit_description_path(description) %>
                  <%= link_to "<i class='glyphicon glyphicon-trash red'></i>".html_safe, description, method: :delete, data: {confirm: 'Are you sure?'} %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>


    </div>
  </div>
</div>



<br>

<hr/>

<fieldset><%= link_to "<i class='glyphicon glyphicon-plus'></i>".html_safe, new_description_path, class: 'btn btn-success' %>
</fieldset>
