<div class="page-header">
  <h1>New description</h1>
</div>

<%= render 'form' %>

<hr/>

<fieldset>
  <%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, descriptions_path, class: 'btn btn-default' %>
</fieldset>
