<div class="page-header">
  <h1>Viewing description</h1>
</div>

<p id="notice"></p>

    <p>
      <strong>Brand:</strong>
      <%= @description.brand_id %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @description.model_id %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @description.description.html_safe %>
    </p>


<fieldset>
  <div class="btn-group">
    <%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, descriptions_path, class: 'btn btn-default' %>
    <%= link_to "<i class='glyphicon glyphicon-edit'></i>".html_safe, edit_description_path(@description), class: 'btn btn-default' %>
    <%= link_to "<i class='glyphicon glyphicon-plus'></i>".html_safe, new_description_path, class: 'btn btn-success' %>
  </div>
</fieldset>
