set daemon 30

set logfile /var/log/monit.log
set idfile /var/lib/monit/id
set statefile /var/lib/monit/state

set eventqueue
    basedir /var/lib/monit/events
    slots 100

set mailserver <%= monit_mailserver %> port <%= monit_mailserver_port %>
    username <%= monit_mail_username %> password <%= monit_mail_password %>
    using tlsv1
    with timeout 30 seconds

set alert <%= alert_email %>

set httpd port 2812
    allow admin:<%= monit_admin_password %>

check system server
  if loadavg(5min) > 2 for 2 cycles then alert
  if memory > 90% for 2 cycles then alert
  if cpu(user) > 80% for 2 cycles then alert

include /etc/monit/conf.d/*
