<%%= form_for(@<%= singular_table_name %>, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
<%% if @<%= singular_table_name %>.errors.any? %>
<div id="error_explanation" class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %>
    from being saved:</h2>
  <ul>
    <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
    <li><%%= msg %></li>
    <%% end %>
  </ul>
</div>
<%% end %>

<% attributes.each do |attribute| -%>
    <div class="form-group">
      <% if attribute.password_digest? -%>
          <%%= f.label :password, class: "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%%= f.password_field :password, class: 'form-control' %>
          </div>
          <%%= f.label :password_confirmation, class: "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
      <% else -%>
          <%- if attribute.reference? -%>
              <%%= f.label :<%= attribute.column_name %>, class: "col-lg-2 control-label" %>
              <div class="col-lg-10">
                <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'form-control' %>
              </div>
          <%- else -%>
              <%%= f.label :<%= attribute.name %>, class: "col-lg-2 control-label" %>
              <div class="col-lg-10">
                <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control' %>
              </div>
          <%- end -%>
      <% end -%>
    </div>
<% end -%>

<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <%%= button_tag(type: 'submit', class: "btn btn-success") {"<i class='glyphicon glyphicon-floppy-disk'></i>".html_safe } %>
  </div>
</div>

<%% end %>