<div class="page-header">
<h1>Editing <%= singular_table_name %></h1>
</div>

<%%= render 'form' %>

<hr />

<fieldset>
  <div class="btn-group">
    <%%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, <%= index_helper %>_path, class: 'btn btn-default' %>
    <%%= link_to "<i class='glyphicon glyphicon-search'></i>".html_safe, @<%= singular_table_name %>, class: 'btn btn-default' %>
  </div>
</fieldset>