<div class="page-header">
  <h1>Listing <%= plural_table_name %></h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <th><%= attribute.human_name %></th>
    <% end -%>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
  <tr>
    <% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
    <% end -%>
    <td>
      <div class="button-group">
        <%%= link_to "<i class='glyphicon glyphicon-search'></i>".html_safe, <%= singular_table_name %> %>
        <%%= link_to "<i class='glyphicon glyphicon-edit'></i>".html_safe, edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
        <%%= link_to "<i class='glyphicon glyphicon-trash red'></i>".html_safe, <%= singular_table_name %>, method: :delete, data:{ confirm: 'Are you sure?' } %>
      </div>
    </td>
  </tr>
  <%% end %>
  </tbody>
</table>

<br>

<hr/>

<fieldset><%%= link_to "<i class='glyphicon glyphicon-plus'></i>".html_safe, new_<%= singular_table_name %>_path, class: 'btn btn-success' %>
</fieldset>
