<div class="page-header">
  <h1>New <%= singular_table_name %></h1>
</div>

<%%= render 'form' %>

<hr/>


<fieldset>
  <%%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, <%= index_helper %>_path, class: 'btn btn-default' %>
</fieldset>
