<div class="page-header">
  <h1>Viewing <%= singular_table_name %></h1>
</div>

<p id="notice"></p>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
    <p>
      <strong><%= attribute.human_name %>:</strong>
      <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
    </p>

<% end -%>

<fieldset>
  <div class="btn-group">
    <%%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, <%= index_helper %>_path, class: 'btn btn-default' %>
    <%%= link_to "<i class='glyphicon glyphicon-edit'></i>".html_safe, edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-default' %>
    <%%= link_to "<i class='glyphicon glyphicon-plus'></i>".html_safe, new_<%= singular_table_name %>_path, class: 'btn btn-success' %>
  </div>
</fieldset>
