<%= form_for(@brand, html: { class: 'form-horizontal', role: 'form' }) do |f| %>
<% if @brand.errors.any? %>
<div id="error_explanation" class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand
    from being saved:</h2>
  <ul>
    <% @brand.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

    <div class="form-group">
                    <%= f.label :name, class: "col-lg-2 control-label" %>
              <div class="col-lg-10">
                <%= f.text_field :name, class: 'form-control' %>
              </div>
          </div>
    <div class="form-group">
                    <%= f.label :logo, class: "col-lg-2 control-label" %>
              <div class="col-lg-10">
                <%= f.text_field :logo, class: 'form-control' %>
              </div>
          </div>

<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
    <%= button_tag(type: 'submit', class: "btn btn-success") {"<i class='glyphicon glyphicon-floppy-disk'></i>".html_safe } %>
  </div>
</div>

<% end %>