<div class="page-header">
  <h1>Listing brands</h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
            <th>Name</th>
            <th>Logo</th>
        <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @brands.each do |brand| %>
  <tr>
            <td><%= brand.name %></td>
            <td><%= brand.logo %></td>
        <td>
      <div class="button-group">
        <%= link_to "<i class='glyphicon glyphicon-search'></i>".html_safe, brand %>
        <%= link_to "<i class='glyphicon glyphicon-edit'></i>".html_safe, edit_brand_path(brand) %>
        <%= link_to "<i class='glyphicon glyphicon-trash red'></i>".html_safe, brand, method: :delete, data:{ confirm: 'Are you sure?' } %>
      </div>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<br>

<hr/>

<fieldset><%= link_to "<i class='glyphicon glyphicon-plus'></i>".html_safe, new_brand_path, class: 'btn btn-success' %>
</fieldset>
