<div class="page-header">
  <h1>New brand</h1>
</div>

<%= render 'form' %>

<hr/>


<fieldset>
  <%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, brands_path, class: 'btn btn-default' %>
</fieldset>
