<div class="page-header">
  <h1>Viewing brand</h1>
</div>

<p id="notice"></p>

    <p>
      <strong>Name:</strong>
      <%= @brand.name %>
    </p>

    <p>
      <strong>Logo:</strong>
      <%= @brand.logo %>
    </p>


<fieldset>
  <div class="btn-group">
    <%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, brands_path, class: 'btn btn-default' %>
    <%= link_to "<i class='glyphicon glyphicon-edit'></i>".html_safe, edit_brand_path(@brand), class: 'btn btn-default' %>
    <%= link_to "<i class='glyphicon glyphicon-plus'></i>".html_safe, new_brand_path, class: 'btn btn-success' %>
  </div>
</fieldset>
