<div id="footer">
  <div class="container">
    
    <div class="row footer-first-row">
      
      <div class="col-xs-12 text-center">
        <p><small>
          &copy; 2014 - {pixind}
          <br/>
        </small></p>
      </div>
      
    </div>
    
  </div>
</div>