<% if !current_user %>
    <li><%= link_to "Sign in", signin_path %></li>
<% else %>
    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Admin <span class="caret"></span>
    </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Descriptions", descriptions_path %></li>
        <li><%= link_to "Brands", brands_path %></li>
        <li><%= link_to "Models", models_path %></li>
      </ul>
    </li>
    <li><%= link_to "Sign out", signout_path %></li>
<% end %>
